.header, .nav, .article, .sidebar, .advertise, .footer{
    background-color: aquamarine;
    border: 2px solid tomato;
    padding: 5px;
    border-radius: 5px;
}
.header{
    grid-area: header;
}
.nav{
    grid-area: nav;
}
.article{
    grid-area: article;
}
.sidebar{
    grid-area: sidebar;
}
.advertise{
    grid-area: advertise;
}
.footer{
    grid-area: footer;
}
.container{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "header header header"
    "nav  article sidebar"
    "nav article advertise"
    "footer footer footer";
}@media screen and (max-width :576px){
    .container{
        grid-template-areas: 
        "header"
        "nav"
        "article"
        "advertise"
        "footer" ;
    }
}